<ng-container *ngIf="config">
    <div class="row mx-0">
        <div class="col-12 px-0">

            <div class="row mx-0">
                <div class="col-12 px-0">
                    <div class="table table-action mb-1">
                        <table class="table table-hover table-form table-small"
                            style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                                <tr>
                                    <th [columnWidth]="column?.width" [columnsLength]="columns?.length"
                                        *ngFor="let column of columns; let x = index" rowspan="1" colspan="1"
                                        style="padding: 10px 15px 0 !important;">
                                        <div [ngClass]="{'form-ui': column?.filterable && allItems?.length > 1}">
                                            <ng-container *ngIf="column?.filterable && allItems?.length > 1">
                                                <input type="text" required="" class="d-inline"
                                                    (keyup)="keyupFilter($event, column?.field)" title="">
                                            </ng-container>
                                            <label style="font-weight: 700;">{{column?.header}}</label>

                                            <ng-container *ngIf="column?.sortable && allItems?.length > 1">
                                                <span #sort [id]="'sort-'+column?.field" (click)="sortArray(column)"
                                                    class="sorting_asc"></span>
                                            </ng-container>
                                        </div>
                                    </th>
                                    <th style="width: 8%" *ngIf="config?.actions?.length > 0 && allItems?.length > 0">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let value of arrayOfItems() | filter: valueForFilter: fieldForFilter | orderBy: fieldForSort:reverse:true; let j = index"
                                    [id]="config?.id +'-'+ getIndex(j)">
                                    <!-- display ligne -->
                                    <td [columnWidth]="column?.width" [columnsLength]="columns?.length"
                                        *ngFor="let column of columns; let i = index" [style.overflow]="'hidden'">
                                        <!-- icon -->
                                        <ng-container *ngIf="column?.link;else other_display">
                                            <a href="javascript:void(0)" [title]="column?.link.text"
                                                (click)="sendItem(null, value)">{{column?.link.text}}</a>
                                        </ng-container>
                                        
                                        <!-- text -->
                                        <ng-template #other_display>
                                            <span [title]="displayValue(value, column)"
                                                [class]="column?.conditionClass?.get(value[column.field]) ">
                                                {{displayValue(value, column)}}</span>
                                        </ng-template>
                                    </td>
                                    <!-- actions -->
                                    <td style="width: 8%" class="text-center px-0" *ngIf="config?.actions">
                                        <ng-container
                                            *ngIf="config?.conditionActions?.enable != null && config?.conditionActions?.enable?.status === value[getFirstKeyFromJson(config?.conditionActions?.enable)]">
                                            <a class="mr-1 pr-2"
                                                [title]="config?.conditionActions?.enable?.icon?.tooltip">
                                                <i class="icons {{config?.conditionActions?.enable?.icon?.class}}"
                                                    (click)="sendItem(config?.conditionActions?.enable?.name, value)"></i>
                                            </a>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="config?.conditionActions?.disable != null && config?.conditionActions?.disable?.status === value[getFirstKeyFromJson(config?.conditionActions?.disable)]">
                                            <a class="mr-1 pr-2"
                                                [title]="config?.conditionActions?.disable?.icon?.tooltip">
                                                <i class="icons {{config?.conditionActions?.disable?.icon?.class}}"
                                                    (click)="sendItem(config?.conditionActions?.disable?.name, value)"></i>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="config?.actions && config?.actions.length > 0">
                                            <ng-container *ngFor="let action of geActionsWithIcon()">
                                                <a class="mr-1 pr-2" [title]="action?.icon?.tooltip">
                                                    <i class="icons {{action?.icon?.class}}"
                                                        (click)="sendItem(action?.name, value)"></i>
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <cm-pagination *ngIf="config?.pagination && pagedItems?.length > 0" [pager]="pager"
                (updatePager)="setPage($event)" [rowsPerPageOptions]="config?.pagination?.rowsPerPageOptions">
            </cm-pagination>

        </div>
    </div>
</ng-container>