<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ccb581" type="ball-circus" [fullScreen]="true">
    <p class="color-white"> Loading... </p>
</ngx-spinner>

<div class="row bg-white" style="box-shadow: 10px 5px 5px #e6e6e6;">
    <div class="col-12">

        <div class="row border-bottom">
            <div class="col-12">
                <div class="search-criteria">

                    <div class="py-2">
                        <div class="float-left">
                            <p class="bold color-title font-size-20 mb-0">Liste des épreuves</p>
                        </div>
                        <div class="dropdown float-right">
                            <button *ngIf="!isStudent && !isTeacher" type="button"
                                class="btn btn-bg-add font-size-12 btn-add mb-0 color-white" (click)="openModal()">
                                <span class="pl-1">Nouveau</span>
                            </button>
                            <span ngbTooltip="Rechercher">
                                <a>
                                    <i class="icon-search icons mx-2 my-1"></i>
                                </a>
                            </span>
                            <span ngbTooltip="Télécharger">
                                <a (click)="export()">
                                    <i class="icon-download icons mx-2 my-1"></i>
                                </a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="accordion mb-0" role="tablist" aria-multiselectable="true">
                        <div class="card card-search">
                            <div id="search-criteria-one" class="border-top collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="card-block bg-white py-4" style="overflow: visible;">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 mb-4 px-0">
            <cm-table-container [config]="config" (sendData)="getArrayForm($event)"></cm-table-container>
        </div>

    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header mt-3">
        <span class="close" aria-label="Close" data-dismiss="modal" (click)="modal.close()" style="cursor: pointer;">
            <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <div class="modal-body py-0 text-center ">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Groupe 1</th>
                            <th scope="col">Groupe 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ teachers.g1 }}</td>
                        <td>{{ teachers.g2 }}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #content1 let-modal>
    <div class="modal-header mt-3">
        <span class="close" aria-label="Close" data-dismiss="modal" (click)="modal.close()" style="cursor: pointer;">
            <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <div class="modal-body py-0 text-center ">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Groupe 1</th>
                            <th scope="col">Groupe 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ rooms.g1 }}</td>
                        <td>{{ rooms.g2 }}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>