.pagination.pagination-small li a {
    padding: 0px 6px !important;
    height: 20px !important;
}

.width-40 {
    width: 40px !important;
}

.width-70 {
    width: 70px !important;
}

select {
    padding: 5px 5px !important;
}