<div class="row bg-default-200">
    <div class="col-12 px-0">
        <ol class="breadcrumb d-none d-lg-block">
            <li class="breadcrumb-item">
                <a routerLink="/">
                    <i class="icons icon-bar_chart size-20 color-text"></i> Accueil </a>
            </li>
            <li class="breadcrumb-item active">Utilisateurs</li>
        </ol>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ccb581" type="ball-circus" [fullScreen]="true">
    <p class="color-white"> Loading... </p>
</ngx-spinner>

<div class="row bg-white" style="box-shadow: 10px 5px 5px #e6e6e6;">
    <div class="col-12">

        <div class="row border-bottom">
            <div class="col-12">
                <div class="search-criteria">

                    <div class="py-2">
                        <div class="float-left">
                            <p class="bold color-title font-size-20 mb-0">Liste des utilisateurs</p>
                            <label class="pt-2 my-0" *ngIf="usersLength === 0">
                                Vous n'avez aucun utilisateur
                            </label>
                            <label class="pt-2 my-0" *ngIf="usersLength > 0">
                                Vous avez {{usersLength}} utilisateur(s)
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 mb-4 px-0">
            <cm-table-container [config]="config"></cm-table-container>
        </div>

    </div>
</div>