<div class="row bg-default-200">
    <div class="col-12 px-0">
        <ol class="breadcrumb d-none d-lg-block">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="icons icon-home size-20 color-text"></i> Accueil </a>
            </li>
            <li class="breadcrumb-item active">Enseignants</li>
        </ol>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ccb581" type="ball-circus" [fullScreen]="true">
    <p class="color-white"> Loading... </p>
</ngx-spinner>

<div class="row bg-white" style="box-shadow: 10px 5px 5px #e6e6e6;">
    <div class="col-12">
        
        <div class="col-12 mb-4 px-0">
            <cm-table-container [currentConfig]="config"></cm-table-container>
        </div>

    </div>
</div>