<div class="modal-header mt-3">
    <h2 *ngIf="!editModule" class="h3 modal-title text-center font-size-24 bold" style="width: 100%;">Ajouter un module
    </h2>
    <h2 *ngIf="editModule" class="h3 modal-title text-center font-size-24 bold" style="width: 100%;">Modifier un module
    </h2>
    <span class="close" aria-label="Close" data-dismiss="modal" (click)="closeModal()" style="cursor: pointer;">
        <span aria-hidden="true">&times;</span>
    </span>
</div>

<form [formGroup]="form">
    <div *ngIf="showLoaderError" class="alert alert-error alert-icon alert-dismissible width-450" role="alert"
        style="margin-left: auto; margin-right: auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="icons icon-alert color-white" aria-hidden="true"></i>
        {{saveError}}
    </div>
    <div *ngIf="showLoaderSuccess" class="alert alert-valid alert-icon alert-dismissible width-450" role="alert"
        style="margin-left: auto; margin-right: auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="icons icon-arrow_circle_down color-white" aria-hidden="true"></i>
        {{saveSuccess}}
    </div>

    <div class="modal-body mb-2">
        <div class="row pt-1" style="padding-right: 5%;">
            <div class="col-12 px-0 mb-2">

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Designation : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <input type="text" formControlName="designation" [attr.disabled]="editModule">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Nombres d'Heures : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <input type="number" formControlName="nbrHours">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Type Epreuve : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <ng-select [items]="examTypes" formControlName="examType"></ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Semestre : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <ng-select [items]="semesters" formControlName="semester"></ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Période : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <ng-select [items]="periods" formControlName="periods" [multiple]="true"></ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Classe : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <ng-select [items]="class$ | async" formControlName="classId" bindValue="classId" [searchable]="true">
                        </ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 py-2 px-0">
                        <label class="float-right">Enseignant : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-9">
                        <ng-select [items]="teacher$ | async" formControlName="teacherId" bindValue="id"
                            bindLabel="fullName" [searchable]="true" (change)="onChangeFullName($event)">
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="reset()">Annuler</button>
        <button type="button" class="btn btn-bg-primary" (click)="editModule ? update() : save()"
            [disabled]="!form.valid">Confirmer</button>
    </div>
</form>