<div class="modal-header mt-3">
    <h2 class="h3 modal-title text-center font-size-24 bold" style="width: 100%;">Liste des disponibilités
    </h2>
    <span class="close" aria-label="Close" data-dismiss="modal" (click)="closeModal()" style="cursor: pointer;">
        <span aria-hidden="true">&times;</span>
    </span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <button *ngIf="!hideAddButton" class="btn btn-primary float-right my-0"
                style="width: 75px; height: 30px; padding: 0px;" (click)="child.addLine()">Ajouter</button>
        </div>
    </div>
    <div class="row">
        <cm-table-container [config]="config" (sendData)="getArrayForm($event)"></cm-table-container>
    </div>
</div>